<!-- index.ejs is the home page displaying all the posts.
It should include the files head.ejs, header.ejs, posts.ejs and footer.ejs. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partial/head'); %>
    <title>Home</title>
</head>
<body>
    <div id="nav">
        <%- include('../partial/header'); %>
    </div>
    <div id="main">
        <%- include('../partial/posts'); %>
    </div>
    
    <%- include('../partial/footer'); %>
</body>
</html>