body {
    background-color: blueviolet;
}

.navbar {
    height: 10vh;
    background-color: green;
    display: flex;
}

#search{
    width: 33vw;
}

#background {
    margin-top: 5em;
    height: 80vh;
    width: 80vw;
}

.card{
    background-color: aqua;
    margin-top: 2em;
    width: 18em;
    height: 18em;
}

img {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    margin-top: 2em;
    background-color: cadetblue;
}