body {
    margin: 0;
    background-color: #222;
    font-family:sans-serif;
    font-weight: 800;
}


header {
    background-color: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    margin: 0;
    float: left; 
       
}

nav {
    float: right;
}

#nav_btn {
    margin: 0;
    padding: 0;
    list-style: none;
}

.links {
    display: inline-block;
    margin-left: 70px;
    padding-right: 3rem;
    padding-top: 23px;
}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }

nav a:hover {
    color: #000;
}
.container{
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: auto;
}

h1{
    text-align: center;
    color: #55d6aa;
}

.stacked{
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product_grid{
    display: grid;
    gap: 1.125rem;
    grid-template-columns: 
        repeat(auto-fit, minmax(15rem, 1fr));
}

.card{
    aspect-ratio: 1 /1.5;
    /*border: 3px solid hotpink;*/
}

.card_content{
    margin: .5rem .5rem 2rem;
    padding: .5rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
}
.card_new{
    border: red 2px solid;
    background-color: red;
    padding: 1rem;
    border-radius: 50%;
}
.card_discount{
    border: blue 2px solid;
    background-color: blue;
    padding: 1rem;
    border-radius: 50%;
    float: right;
}
img {
  max-width: 100%;
  display: block;
}

.card_img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

@media (min-width: 45em){
    .card.featured{
        grid-row: span 2;
        grid-column: span 2;
    }

    .card.featured .card_img{
        aspect-ratio: 1 / 1.25;
    }
}

footer {
background-color: #55d6aa;
text-align: center;
width: 100%;
position: fixed;
bottom: 0;
left: 0;
}